<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.net.serbis.slideshow">

    <uses-feature android:name="android.software.live_wallpaper"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="ru.net.serbis.mega.BIND_FILES_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="ru.net.serbis.share.BIND_FILES_SERVICE"/>

    <application android:name=".App"
                 android:icon="@drawable/app"
                 android:label="@string/app_name">

        <service android:name=".service.ImageService"
                 android:enabled="true"
                 android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                       android:resource="@xml/wallpaper"/>
        </service>

        <receiver android:name=".impl.Widget1"
                  android:label="@string/widget1"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget1">
            </meta-data>
        </receiver>

        <receiver android:name=".impl.Widget2"
                  android:label="@string/widget2"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget2">
            </meta-data>
        </receiver>

        <receiver android:name=".impl.Widget3"
                  android:label="@string/widget3"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget3">
            </meta-data>
        </receiver>

        <receiver android:name=".impl.Widget4"
                  android:label="@string/widget4"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget4">
            </meta-data>
        </receiver>

        <receiver android:name=".impl.Widget5"
                  android:label="@string/widget5"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget5">
            </meta-data>
        </receiver>

        <receiver android:name=".impl.Widget6"
                  android:label="@string/widget6"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget6">
            </meta-data>
        </receiver>

        <receiver android:name=".impl.Widget7"
                  android:label="@string/widget7"
                  android:icon="@drawable/button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget7">
            </meta-data>
        </receiver>

        <activity
            android:name=".activity.Config"
            android:theme="@style/Theme"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Settings"
            android:label="@string/app_name"
            android:theme="@style/Theme"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.ActionsService"/>

        <activity
            android:name=".activity.Folders"
            android:label="@string/wall_folders"
            android:resizeableActivity="true">
        </activity>

        <activity
            android:name=".activity.Parameters"
            android:label="@string/parameters"
            android:theme="@style/Theme"
            android:resizeableActivity="true">
        </activity>

        <activity
            android:name=".activity.Information"
            android:label="@string/information"
            android:theme="@style/Theme"
            android:resizeableActivity="true">
        </activity>

        <activity
            android:name=".activity.Controls"
            android:label="@string/controls"
            android:theme="@style/Theme"
            android:resizeableActivity="true">
        </activity>
        
    </application>
</manifest>
